.button {
    
    font-size: 1.5em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: #666 .05em .05em;
    
    text-align: right;
    color: white;

    background-color: red;
    padding: 1% 2% 1% 2%;
}