#categories-content {
    position: fixed;
    top: 10;
    left: 0;
    width: 15%;
    height: 90VH;
    background-color: lightgray;
}
.category-content {
    height: 25%;
    padding: 1rem;
}
.category-icons {
    text-align: center;
    height: 85%;
}
.category-content-title{
    text-align: center;
    padding: 0.5rem;
}
.category-selected{
    background-color:gray;
}
.react-icons {
    vertical-align: middle;
  }