.footer {
    font-size: 1.5em;
    text-align: center;
    align-content: center;
    background-color: var(--primary-dark);
    color: var(--primary-color);
    width: 100%;
    position: fixed;
    bottom: 0;
}

.table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}

.td {
    padding-left: 10%;
    padding-right: 0%;
}

.tr {
    border-bottom: solid .05em var(--primary-color);
}

.p {
    font-size: .5em;
    text-align: center;
    background-color: var(--neutral-dark);
    color: var(--neutral-light);
}

.footer-link {
    margin-inline: 0.5rem;
    text-decoration: none;
    color: white;
}

.footer-link:hover {
    font-weight: bold;
}