#index-content {
    width: 75%;
    margin-inline: auto;
    text-align: center;
}

.index-content-cards {
    width: auto;
    display: flex;
}

.index-content-cards-card {
    display: block;
    width: 50%;
}
